/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 3rem 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.938rem;
    background-color: #3a3a3a;
    color: #ffff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.section-title {
    position: relative;
    font-size: 2rem;
    color: #ffff;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}
  
/*===== LAYOUT =====*/
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #3a3a3a;
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
}
  
  /*===== NAV =====*/
.nav{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
@media screen and (max-width: 768px){
    .nav__menu {
        position: fixed;
        top: 3rem;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: #ffff;
        transition: .5s;
    }
}

.nav__item {
    margin-bottom: 2rem;
}

.nav__link {
    position: relative;
    color: #fff;
}

.nav__link:hover {
    position: relative;
}

.nav__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: #ffff;
}

.nav__logo {
    color: #ffff;
}

.nav__toggle {
    color: #ffff;
    font-size: 1.5rem;
    cursor: pointer;
}
  
/*===== HOME =====*/
.home {
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}

.home__data {
    /* align-self: center; */
    text-align: center;
}

.home__title {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.home__social {
    text-align: center;
}

.home__social-icon {
    width: max-content;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #ffff;
}

.home__social-icon:hover {
    color: #1b1b1b;
}
  
/*BUTTONS*/
.button {
    display: inline-block;
    background-color: #101111;
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: 600;
    border-radius: .5rem;
}
  
/* ===== ABOUT =====*/
.about__container {
    row-gap: 2rem;
    text-align: center;
}
.about__subtitle {
    margin-bottom: 1rem;
}

.about__img {
    justify-self: center;
}

.about__img img {
    width: 200px;
    border-radius: 2rem;
}

/* ===== FOOTER =====*/
.footer {
    background-color: #0d0d0e;
    color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 2rem 0;
}

.footer__title {
    font-size: 2rem;
    margin-bottom: 2rem;
}
  
/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
    body {
        margin: 0;
    }

    .section {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .section-title {
        margin-bottom: 3rem;
    }

    .section-title::after {
        width: 80px;
        top: 3rem;
    }
  
    .nav {
        height: calc(3rem + 1rem);
    }

    .nav__list {
        display: flex;
        padding-top: 0;
    }

    .nav__item {
        margin-left: 3rem;
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__link  {
        color: #ffff;
    }
  
    .home {
        height: 100vh;
    }

    .home__data {
        align-self: flex-end;
    }

    .home__social {
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }

    .home__social-icon {
        margin-bottom: 0;
        margin-right: 2rem;
    }

    .home__img {
        width: 457px;
        bottom: 15%;
    }
  
    .about__container {
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: initial;
    }

    .about__img img {
        width: 300px;
    }
}
  
@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .home__img {
        right: 10%;
    }
}