/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 3rem 0 0 0;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.938rem;
    background-color: #3a3a3a;
    color: #ffff;
}

h1, h2, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.section-title {
    position: relative;
    font-size: 1.25rem;
    color: #ffff;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #3a3a3a;
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
}
  
.nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.about {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .nav_menu {
        position: fixed;
        top: 3rem;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: #0d0d0e;
        transition: .5s;
    }
}

.nav_item {
    margin-bottom: 2rem;
}

.nav_link {
    position: relative;
    color: #fff;
}

.nav_link:hover {
    position: relative;
}

.nav_link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: #fff;
}

.nav_home {
    color: #ffff;
}

.nav_toggle {
    color: #ffff;
    font-size: 1.5rem;
    cursor: pointer;
}

.show {
    right: 0;
}

.home {
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}

.home_content {
    align-self: center;
    text-align: center;
}

.home_title {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.home_social {
    display: inline;
    flex-direction: row;
    text-align: center;
}

.home_social-icon {
    width: max-content;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #ffff;
}

.home_social-icon:hover {
    color: #1b1b1b;
}

.about_container {
    row-gap: 2rem;
    text-align: center;
}

.about_subtitle {
    margin-bottom: 1rem;
}

.about_img {
    justify-self: center;
}

.about_img img {
    width: 200px;
    border-radius: 2rem;
}

.footer {
    background-color: #0d0d0e;
    color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 1rem 0;
}

@media screen and (min-width: 768px){
    body {
        margin: 0;
        font-size: 1rem;
    }

    .section-title {
        margin-bottom: 3rem;
        font-size: 2rem;
    }
  
    .nav {
        height: calc(3rem + 1rem);
    }

    .nav_list {
        display: flex;
        padding-top: 0;
    }

    .nav_item {
        margin-left: 3rem;
        margin-bottom: 0;
    }

    .nav_toggle {
        display: none;
    }

    .nav_link  {
        color: #ffff;
    }
  
    .home {
        height: 100vh;
    }

    .home_title {
        font-size: 3.5rem;
    }

    .home_content {
        align-self: flex-end;
    }

    .home_social {
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }

    .home_social-icon {
        margin-bottom: 0;
        margin-right: 2rem;
    }

    #twitter {
        margin-right: 0;
    }

    .about {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .about_container {
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: initial;
    }

    .about_img img {
        width: 300px;
    }
}
  
@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}